.keyboard {
  display: flex;
  justify-content: center;
}

.keyR {
  width: 43px;
  height: 58px;
  margin: 6px;
  font-weight: bold;
  border-radius: 8px;
  background-color: #B7B7B7;
}

/*.ktrue {*/
/*  background-color: #6aaa64;*/
/*}*/

/*.khalf-true {*/
/*  background-color: #c9b458;*/
/*}*/

/*.kfalse {*/
/*   !* background-color: #86888a; *!*/
/*   background-color: red;*/
/* */
/*}*/
.other-key {
  background-color: grey;
  font-weight: bold;
  color: #d7dadc;
  border-radius: 8px;
  width: 58px;
  height: 58px;
  margin: 6px;
}

.word-board {
  display: flex;
  justify-content: center;
 
}

.board-row {
  font-size: 30px;
  width: 58px;
  height: 58px;
  font-weight: bold;
  margin: 5px;
  padding-top: 5px;
  /* background-color: white; */
  background-color: #212529;
  border-style: solid;
  border-color: #86888a;
}

.true {
  background-color: #6aaa64;
}

.half-true {
  background-color: #c9b458;
}

.false {
  
  background-color: #86888a;
}
